@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Work Sans';
    src: url('../src/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body{
    font-family: "Work Sans", serif;
  }
  
  html {
    scroll-behavior: smooth;
  }